.contact__section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container__contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.text_box {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 20px;
}

.contact__description {
  font-size: var(--text-sm);
}
.contact__title {
  font-size: var(--text-2xl);
  margin-bottom: 1.5rem;
}

.contact__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
}

.contact__links {
  color: white;
  font-size: var(--text-sm);
  transition: 0.3s ease;
}
.contact__links:hover {
  color: var(--clr-sky500);
}

.contact__menu i {
  font-size: var(--text-sm);
  margin-right: 0.8rem;
  color: var(--clr-slate300);
}

.contact__btn {
  color: white;
  font-size: var(--text-sm);
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: rgb(0, 140, 0);
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
}

.contact__btn:hover {
  transform: translateY(-3px);
}

/* Making the Contact Section responsive */

/* xs */
@media (min-width: 475px) {
  .text_box {
    padding: 40px;
  }
  .contact__description {
    font-size: var(--text-base);
  }
  .contact__title {
    font-size: var(--text-3xl);
  }
  .contact__links {
    color: white;
    font-size: var(--text-base);
  }

  .contact__menu i {
    font-size: var(--text-base);
  }

  .contact__btn {
    font-size: var(--text-base);
  }
}
/* sm */
/* @media (min-width: 640px) {} */
/* md */
@media (min-width: 768px) {
  .container__contact {
    flex-direction: row;
    align-items: center;
  }
  .contact__get-in-touch,
  .contact__details {
    flex: 1;
  }
}
/* lg */
@media (min-width: 1024px) {
  .contact__description {
    font-size: var(--text-base);
  }
  .contact__title {
    font-size: var(--text-3xl);
  }
  .contact__links {
    font-size: var(--text-base);
  }

  .contact__menu i {
    font-size: var(--text-base);
  }

  .contact__btn {
    font-size: var(--text-base);
  }
  .container__contact {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
/* xl */
@media (min-width: 1280px) {
  .contact__description {
    font-size: var(--text-lg);
  }
  .contact__title {
    font-size: var(--text-4xl);
  }
  .contact__links {
    font-size: var(--text-lg);
  }

  .contact__menu i {
    font-size: var(--text-lg);
  }

  .contact__btn {
    font-size: var(--text-lg);
  }
  .container__contact {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
/* 2xl  */
@media (min-width: 1536px) {
  .contact__description {
    font-size: var(--text-xl);
  }
  .container__contact {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}
