.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.logo {
  font-size: var(--text-2xl);
  font-style: italic;
  font-weight: 700;
  color: white;
}

.toggle__btn {
  display: block;
  width: 24px;
  height: 24px;
  color: white;
  background-color: transparent;
  border: none;
}

.nav__menu {
  display: none;
}

.dropdown__nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-slate900);
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.dropdown__manu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}

.toggle__btn2 {
  display: none;
  width: 24px;
  height: 24px;
  color: white;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.dropdown__links,
.resume__btn {
  color: white;
  font-size: var(--text-base);
  font-weight: 600;
  transition: all 0.3s ease;
}

.dropdown__links:hover {
  color: var(--clr-sky500);
}

.dropdown__line {
  border: 1px solid var(--clr-slate600);
  padding-left: 10rem;
}

.resume__btn {
  background-color: #38bdf8;
  padding: 6px 16px;
  border-radius: 4px;
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  color: white;
  transform: translateY(-3px);
}

/* xs */
/* @media (min-width: 475px) {} */
/* sm */
/* @media (min-width: 640px) {} */
/* md */
@media (min-width: 768px) {
  .toggle__btn {
    display: none;
  }
  .logo {
    font-size: var(--text-2xl);
  }
  .nav__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;
  }

  .nav__links,
  .resume__btn {
    color: white;
    font-size: var(--text-sm);
    font-weight: 600;
    transition: all 0.3s ease;
  }

  .nav__links:hover {
    color: var(--clr-sky500);
  }

  .nav__line {
    border: 1px solid var(--clr-slate600);
    padding-top: 1.5rem;
  }

  .resume__btn {
    background-color: #38bdf8;
    padding: 6px 16px;
    border-radius: 4px;
  }

  .btn {
    transition: all 0.3s ease;
  }

  .btn:hover {
    color: white;
    transform: translateY(-3px);
  }
}
/* lg */
@media (min-width: 1024px) {
  .nav__menu {
    gap: 2rem;
  }

  .nav__links {
    font-size: var(--text-base);
  }
  .logo {
    font-size: var(--text-3xl);
  }
  .resume__btn {
    padding: 8px 24px;
  }
}
/* xl */
/* @media (min-width: 1280px) {} */
/* 2xl  */
/* @media (min-width: 1536px) {} */
